<div class="jumbotron">
    <h1 class="display-3">All the Geeky News That's Fit to Scrape</h1>
    <p class="lead">This application scrapes the GeeksforGeeks.org website for up to date articles.</p>
    <hr class="my-4">
    <p>Leave a comment on articles of interest.</p>
    <p class="lead">
    </p>
</div>


<div class="container-fluid" id="articles">
    {{#each articles}}
    <div class="row">
        <div class="col-md-12 article" data-id={{this.id}}>
            <h2>{{this.title}}</h2>
            <h3>{{this.link}}</h3>
            <p>{{this.summary}}</p>
        </div>
    </div>
    <div id={{this.id}} data-id={{this.id}}></div>
    {{/each}}
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script> --}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/app.js"></script>